.chart {
    font-family: Arial, sans-serif;
    font-size: 12px;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.x_axis path {
    fill: none;
    stroke: #fff;
    shape-rendering: crispEdges;
}
.x_axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.y_axis1 path {
    fill: none;
    stroke: #7ac143;
    shape-rendering: crispEdges;
}
.y_axis1 line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.y_axis2 path {
    fill: none;
    stroke: #FF8533;
    shape-rendering: crispEdges;
}
.y_axis2 line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.bar {
    fill: #33b5e5;
}
.bar-failed {
    fill: #CC0000;
}
.bar-running {
    fill: #669900;
}
.bar-succeeded {
    fill: #33b5e5;
}
.bar-killed {
    fill: #ffbb33;
}
.sunburstTooltip {
    background: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    width: auto;
    line-height: 25px;
    word-wrap: break-word;
    text-align: center;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
}
.line {
    fill: none;
    stroke: blue;
    stroke-width: 2px;
}
.line1 {
    fill: none;
    stroke: blue;
    stroke-width: 2px;
}
.tick text {
    font-size: 12px;
}
.tick line {
    opacity: 0.2;
}
