<div class="container" ng-init="JobChartController.init()">
    <div jumbune-header=""></div>
    <div class="inner-container">
        <!--<div ng-repeat="(infoType, infoTypeObj) in JobChartController.errorJson">
            <div ng-bind="infoType"></div>
            <div ng-repeat="(module, fieldInfoObj) in infoTypeObj">
                <div ng-bind="module"></div>
                <div ng-repeat="(field, fieldMsg) in fieldInfoObj">
                    <div ng-bind="fieldMsg" ng-click="JobChartController.gotoTabField(field)"></div>
                </div>
            </div>
        </div>-->



        <h2>Preview</h2>
        <div class="col-md-12 main-container inner-container">
            <div class="error-container">
                <div ng-repeat="(infoType, infoTypeObj) in JobChartController.errorJson" ng-class="{'error-section': infoType=='Failures'}">
                    <h5 ng-bind="infoType" ng-class="{'error': infoType=='Failures'}"></h5>
                    <div ng-repeat="(module, fieldInfoObj) in infoTypeObj">
                        <h6 ng-bind="module"></h6>
                        <div ng-repeat="(field, fieldMsg) in fieldInfoObj">
                            <a href="javascript: void(0);" ng-bind="fieldMsg" ng-click="JobChartController.gotoTabField(field)"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">Jumbune Job Name: {{JobChartController.getJobDtl.jobName}}</div>
                    
                    <div class="col-md-12">Cluster Name: {{JobChartController.cluster}}</div>
                    
                    <div class="col-md-12" ng-repeat="enableField in JobChartController.displayJSON">{{enableField}} is enabled</div>
                </div>
            </div> -->
            <table class="frm-tbl" style="width:100%">
                <colgroup>
                    <col width="30%">
                    <col width="70%">
                </colgroup>
                <tbody ng-repeat="jobChartDetails in JobChartController.chartArr">
                    <tr>
                        <td style="background-color: #818181;; color: #fff;">
                            {{jobChartDetails.chartTitle}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="width:600px;height:400px" bistel-chart="jobChartDetails.chartData" chart-options="jobChartDetails.chartOptions"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="txt-rgt fixed-btn">
                <button type="button" class="btn btn-primary" ng-click="JobChartController.back()">Back</button>
            </div>
        </div>
    </div><!-- info-holder -->
</div>