<div class="container" ng-init="NewJobConfigController.init()">
	<div jumbune-header=""></div>
    <form name="myForm">
	<div class="inner-container"><!-- 
	<h2>{{NewJobConfigController.jobFlag}} New Job</h2> -->

	<h2>Optimize Job</h2>
			<div class="col-md-12 main-container tab-container">
			<!-- <h2 style="font-size: inherit;font-weight: normal;margin-top: 0;"></h2> -->
				<table class="frm-tbl">
					
				    <tbody>
                        <tr>
                            <!-- <td jumbune-mandatory-label="">Job Name</td> -->
                            <td style="left: 300px; position: relative;"><label class="fieldLabel">Job Name<s>*</s></label></td>
                            <td style="left: 300px; position: relative;">
                                <input type="text" name="jobName" ng-model="NewJobConfigController.jobName" ng-pattern="/^[a-zA-Z0-9_]+$/" ng-maxlength=50>
                                <p class="error" ng-show="myForm.jobName.$error.pattern">Only alphanumeric values and underscore is allowed</p>
                                <p class="error" ng-show="myForm.jobName.$error.maxlength">Maximum allowed length is 50 characters</p>
                                <div class="error">
                                        <span class="error" ng-show="errorMessageShow">{{errorMessage}}</span> 
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <!-- <td>Select Clusters</td> -->
                            <td style="left: 300px; position: relative;"><label class="fieldLabel">Select Cluster<s>*</s></label></td>
                            <td style="left: 300px; position: relative;">
                                <select ng-disabled="NewJobConfigController.disableSelectCluster()" name="clusters" ng-model="NewJobConfigController.selectedCluster" ng-options="clus as clus for clus in NewJobConfigController.clusterList">
                                    <option value="">Please Select</option>

                                </select>
                            </td>
                        </tr>
						<!-- <tr>
							<td colspan="2"><label class="option-label"><input ng-disabled="NewJobConfigController.disableCheckbox()" type="checkbox" ng-model="NewJobConfigController.dataAnalysis"><span>Data Analysis</span></label></td>
						</tr>
						<tr>
							<td colspan="2"><label class="option-label"><input ng-disabled="NewJobConfigController.disableCheckbox()" type="checkbox" ng-model="NewJobConfigController.jobAnalysis"><span>Job Analysis</span></label></td>
						</tr>
						<tr>
							<td colspan="2"><label class="option-label"><input ng-disabled="NewJobConfigController.disableCheckbox()" type="checkbox" ng-model="NewJobConfigController.monitoring"><span>Monitoring</span></label></td>
						</tr> -->
					</tbody>
				</table>
				<div class="textCenter fixed-btn">
				<button type="button" class="btn btn-default" ng-click="NewJobConfigController.backTunning()">Back</button>&nbsp;&nbsp;
					<button type="button" ng-disabled="NewJobConfigController.disableNextButton()" class="btn btn-primary" ng-click="NewJobConfigController.nextTunning()">Next</button>
				</div>
			</div>
			<div class="clear"></div>
	</div>
    </form>
</div>