<div class="container" ng-init="tuningTab.init()">
	<div jumbune-header="">
		<<!-- header class="clearfix" id="header">
			<div class="clearfix">
				<strong class="logo"><a href="index.html"><img alt="image" src="assets/images/logo.png"></a></strong>
				<div class="navbar-header">
					<button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
						<span class="sr-only">Toggle navigation</span>
					</button>
				</div>
			</div>
			</header> --></div>
	<div class="inner-container">
		<h2 style="margin-top:0">Optimize Job</h2>
		<form name="tuningTab.tuningForm" enctype="multipart/form-data">
			<table class="frm-tbl" align="center" width="98%">
				<tbody>
					<!-- <tr ng-show="false" ng-init="tuningTab.enbTuningChk=methodTuning">
				<td colspan="2"><label class="option-label"><input type="checkbox" ng-model="tuningTab.enbTuningChk"><span>Enable Tuning jghjghj</span></label></td>
			</tr> -->
					<tr>
						<td width="41%">
							<label class="fieldLabel">Optimization Type</label>
						</td>
						<td>
							<input type="radio" name="optimizationTypeRadios" id="cboRadio" ng-model="tuningTab.quickRecommendationsRadio" value="TRUE" />
							<label class="deactiveLabel" for="cboRadio">CBO</label>
							<input type="radio" name="optimizationTypeRadios" id="quickRecommendationsRadio" class="leftMargin25" ng-model="tuningTab.quickRecommendationsRadio" value="FALSE" />
							<label class="deactiveLabel" for="quickRecommendationsRadio">Quick Recommendations</label>
							<span class="fieldContainer" ng-show="tuningTab.quickRecommendationsRadio=='FALSE'">
								<input type="text" placeholder="Job ID" ng-required="tuningTab.quickRecommendationsRadio=='FALSE'" ng-model="tuningTab.jobId">
								<div class="error">
									<span class="error" ng-show="tuningTab.errorMessageShowJob">{{tuningTab.errorMessageJob}}</span>
								</div>
							</span>
						</td>
					</tr>
					<tr ng-hide="tuningTab.quickRecommendationsRadio=='FALSE'">
						<td colspan="2" class='my-tool-tip'>
							<h3 class="formSubHeading" style="color:#23b4c0">Cost Factor<i data-toggle="tooltip" title="Defines the maximum capacity that can be utilized from each node of the cluster." class='fa fa-info-circle' style="font-size: 18px;color: #23b4c0;left: 9px;position: relative;top: 2px;"></i></h3>
						</td>
					</tr>
					<tr ng-hide="tuningTab.quickRecommendationsRadio=='FALSE'">
						<td>
							<label class="fieldLabel">Capability Per Node</label>
						</td>
						<td>
							<input type="radio" name="capabilityRadios" id="calculateInternallyRadio" ng-model="tuningTab.manualRadio" value="CALCULATE_INTERNALLY" />
							<label class="deactiveLabel" for="calculateInternallyRadio">Calculate Internally</label>
							<input type="radio" name="capabilityRadios" id="manualRadio" class="leftMargin25" ng-model="tuningTab.manualRadio" value="MANUAL" />
							<label class="deactiveLabel" for="manualRadio">Manual</label>
							<!-- <input type="radio" name="capabilityRadios" id="definedInFsRadio" class="leftMargin25" ng-
						model="tuningTab.definedInFsRadio" ng-value="false"/>
						<label class="deactiveLabel" for="definedInFsRadio">Defined in FS</label> -->
							<input type="radio" name="capabilityRadios" id="definedInFsRadio" class="leftMargin25" ng-model="tuningTab.manualRadio" value="FAIRSCHEDULER" />
							<label class="deactiveLabel" for="definedInFsRadio">Defined in FS</label>
							<!-- <span class="fieldContainer" ng-show="tuningTab.manualRadio==false">
							<input type="radio" name="manualRadios" id="yarnRadio" checked="checked" ng-model="tuningTab.yarnRadioNonYarnRadio" ng-value="TRUE"/>
							<label class="activeLabel" for="yarnRadio">Yarn</label>

							<input type="radio" name="manualRadios" id="nonYarnRadio" class="leftMargin25" ng-model="tuningTab.yarnRadioNonYarnRadio" ng-value="false"/>
							<label class="deactiveLabel" for="nonYarnRadio">Non Yarn</label>
						</span> -->
							<span ng-show="tuningTab.manualRadio=='MANUAL'">
								<span class="fieldContainer" ng-if="tuningTab.checkYarn == 'Yarn'">
									<input type="text" placeholder="V Core" ng-model="tuningTab.vCoreYarn">
									<br>
									<input type="text" placeholder="Memory (in GB)" class="topMargin8" ng-model="tuningTab.yarnMemory">
								</span>
								<span class="fieldContainer" ng-if="tuningTab.checkYarn !='Yarn'">
									<input type="text" placeholder="Map Slots" ng-model="tuningTab.mapSlotsNY">
									<br>
									<input type="text" placeholder="Reduce Slots" class="topMargin8" ng-model="tuningTab.reduceSlotsNY">
								</span>
							</span>
						</td>
					</tr>
					<tr ng-hide="tuningTab.quickRecommendationsRadio=='FALSE'">
						<td colspan="2" class='my-tool-tip'>
							<h3 class="formSubHeading" style="color:#23b4c0">Workload<i data-toggle="tooltip" title="Inputs for the workload Job which requires to be optimized." class='fa fa-info-circle' style="font-size: 18px;color: #23b4c0;left: 9px;position: relative;top: 2px;"></i></h3>
						</td>
					</tr>
					<tr ng-hide="tuningTab.quickRecommendationsRadio=='FALSE'">
						<td>
							<label class="fieldLabel">Job</label>
						</td>
						<td>
							<input type="radio" name="jobRadios" id="standardHadoopExampleRadio" ng-model="tuningTab.standardHadoopExampleRadio" value="TRUE"/>
							<label class="deactiveLabel" for="standardHadoopExampleRadio">Standard Hadoop Example</label>
							<input type="radio" name="jobRadios" id="userDefinedRadio" ng-model="tuningTab.standardHadoopExampleRadio" value="FALSE" class="leftMargin25" />
							<label class="deactiveLabel" for="userDefinedRadio">User Defined</label>
							<!-- <span class="fieldContainer" ng-show="tuningTab.standardHadoopExampleRadio==false">
								 <select ng-model="tuningTab.standardHadoopSelect" ng-options="st as st for st in tuningTab.standardHadoopList">
								<option value="">Please Select</option>
							</select>
							</span> -->
							<tr ng-show="tuningTab.standardHadoopExampleRadio=='TRUE' && tuningTab.quickRecommendationsRadio=='TRUE'">
								<td>
									<label class="fieldLabel" for="profile"></label>
								</td>
								<td>
									<select ng-model="tuningTab.standardHadoopSelect" ng-options="st as st for st in tuningTab.standardHadoopList" ng-required="tuningTab.standardHadoopExampleRadio=='TRUE' && tuningTab.quickRecommendationsRadio=='TRUE'">
										<option value="">Please Select</option>
									</select>
								</td>
							</tr>
							<tr ng-show="tuningTab.standardHadoopExampleRadio=='TRUE' && tuningTab.quickRecommendationsRadio=='TRUE'">
								<td>
									<label for="JobSubUser" class="fieldLabel">Job Submission User
										<s>*</s>
									</label>
								</td>
								<td>
									<input type="text" name="jobName" ng-model="tuningTab.jobName" ng-required="tuningTab.standardHadoopExampleRadio=='TRUE' && tuningTab.quickRecommendationsRadio=='TRUE'">
								</td>
							</tr>
							<tr ng-show="tuningTab.standardHadoopExampleRadio=='TRUE' && tuningTab.quickRecommendationsRadio=='TRUE'">
								<td>
									<label for="outputDataPath" class="fieldLabel">Parameters
										<s>*</s>
										<br>
										<span class="hintText">(space separated)</span>
									</label>
								</td>
								<td>
									<input type="text" name="jobParameter" ng-model="tuningTab.allJobInfo[0].parameters" ng-required="tuningTab.standardHadoopExampleRadio=='TRUE' && tuningTab.quickRecommendationsRadio=='TRUE'">
								</td>
							</tr>
							<tr ng-show="tuningTab.standardHadoopExampleRadio=='FALSE' && tuningTab.quickRecommendationsRadio=='TRUE'">
								<!-- <td style="vertical-align:top">Choose system<s>*</s></td> -->
								<td>
									<label for="filePath" style="vertical-align:top" class="fieldLabel">Choose system</label>
								</td>
								<td class='my-tool-tip'>
									<label class="option-label">
										<input type="radio" name="optionsRadios" value="TRUE" ng-model="tuningTab.systemType" />
										<span>Local</span>
										<i data-toggle="tooltip" title="Location of the MapReduce jar file on filesystem. Local- Jar location on local filesystem when accessing Jumbune UI remotely from deveoper laptop/workstation, Jumbune- location of jar file, when jar is located at Jumbune container machine" class='fa fa-info-circle' style="font-size: 18px;color: #23b4c0;left: 9px;position: relative;top: 2px;"></i>
									</label>
									<label class="option-label">
										<input type="radio" name="optionsRadios" value="FALSE" ng-model="tuningTab.systemType" />
										<span>Jumbune</span>
									</label>
								</td>
							</tr>
							<tr ng-show="tuningTab.standardHadoopExampleRadio=='FALSE' && tuningTab.quickRecommendationsRadio=='TRUE'">
								<td>
									<label for="filePath" class="fieldLabel">File Path
										<s>*</s>
									</label>
								</td>
								<td ng-if="tuningTab.systemType == 'FALSE'">
									<input type="text" ng-model="tuningTab.filePathServer" name="filePathServer" ng-required="tuningTab.standardHadoopExampleRadio=='FALSE' && tuningTab.quickRecommendationsRadio=='TRUE'" />
									<div class="error">
										<span class="error" ng-show="tuningTab.errorMessageShowFile">{{tuningTab.errorMessageFile}}</span>
									</div>
								</td>
								<td ng-if="tuningTab.systemType == 'TRUE'">
									<div>
										<!-- <input type="hidden" id="fullFilePathLocal" name="fullFilePathLocal" />
												<input type="file" id="filePathLocal" file-upload="defineJobForm" ng-model="tuningTab.filePathLocal" name="filePathLocal" file-change accept="jar" />
													-->
										<input type="file" file-model="myFile" id="filePathLocal" name="inputFile" />
										<div class="error">
											<span class="error" ng-show="tuningTab.errorFile">Please Select .jar File</span>
										</div>
									</div>
									<span class="has-error-txt" ng-show="tuningTab.showError">Please Select .jar File</span>
								</td>
							</tr>
							<tr ng-show="tuningTab.standardHadoopExampleRadio=='FALSE' && tuningTab.quickRecommendationsRadio=='TRUE'">
								<!-- <td colspan="2"> -->
								<td>
									<label for="jobClassName" class="fieldLabel">
										<input type="checkbox" ng-model="tuningTab.jarManifest" ng-click="tuningTab.setClassJarMani($event.target.checked)" />
										<span>
											Job class defined in the jar manifest</span>
									</label>
								</td>
						</td>
						</tr>
						<!--<tbody ng-repeat="arr in tuningTab.fieldArray track by $index"> -->
						<tr ng-if="tuningTab.standardHadoopExampleRadio=='FALSE' && tuningTab.quickRecommendationsRadio=='TRUE'">
							<td>
								<label for="JobSubUser" class="fieldLabel">Job Submission User
									<s>*</s>
								</label>
							</td>
							<td>
								<input ng-required="tuningTab.standardHadoopExampleRadio=='FALSE' && tuningTab.quickRecommendationsRadio=='TRUE'" type="text" name="jobName" ng-model="tuningTab.jobName">
							</td>
						</tr>
						<tr ng-if="tuningTab.standardHadoopExampleRadio=='FALSE' && !tuningTab.jarManifest && tuningTab.quickRecommendationsRadio=='TRUE'">
							<td ng-if="!tuningTab.jarManifest">
								<label for="jobClassName" class="fieldLabel">Job Class Name
									<s>*</s>
									<br>
									<span class="hintText">(Fully qualified class name)</span>
								</label>
							</td>
							<td ng-show="!tuningTab.jarManifest">
								<input ng-required="tuningTab.standardHadoopExampleRadio=='FALSE' && !tuningTab.jarManifest && tuningTab.quickRecommendationsRadio=='TRUE'" type="text" name="jobClassName" ng-model="tuningTab.allJobInfo[0].name" />
							</td>
						</tr>
						<tr ng-show="tuningTab.standardHadoopExampleRadio=='FALSE' && tuningTab.quickRecommendationsRadio=='TRUE'">
							<td>
								<label for="outputDataPath" class="fieldLabel">Parameters
									<br>
									<span class="hintText">(space separated)</span>
								</label>
							</td>
							<td>
								<input type="text" name="jobParameter" ng-model="tuningTab.allJobInfo[0].parameters">
							</td>
						</tr>
						</td>
					</tr>
					<tr ng-hide="tuningTab.quickRecommendationsRadio=='FALSE'">
						<td colspan="2">
							<h3 class="formSubHeading">&nbsp;</h3>
						</td>
					</tr>
					<!-- <tr ng-hide="tuningTab.quickRecommendationsRadio=='FALSE'">
					<td><label class="fieldLabel" for="inputDataPath">Input Data Path :</label></td>
					<td><input type="text" id="inputDataPath" ng-model="tuningTab.inputDataPath"></td>
				</tr>
				<tr ng-hide="tuningTab.quickRecommendationsRadio=='FALSE'">
					<td><label class="fieldLabel" for="outputDataPath">Temp Output Data Path :</label></td>
					<td><input type="text" id="outputDataPath" ng-model="tuningTab.outputDataPath"></td>
				</tr> -->
					<!-- <tr ng-hide="tuningTab.quickRecommendationsRadio=='FALSE'"> -->
					<tr>
						<td>
							<label class="fieldLabel" for="profile">Profile
								<s>*</s>
							</label>
						</td>
						<td>
							<select ng-model="tuningTab.jobTypeOpn" required ng-options="jt.value as jt.label for jt in tuningTab.jobTypeOpnList">
								<option value="">Please Select</option>
							</select>
						</td>
					</tr>
					<tr ng-hide="tuningTab.quickRecommendationsRadio=='FALSE'">
						<td>
							<label class="fieldLabel" for="dataGrowthRate">Data Growth Rate
								<br>
								<span class="hintText">(Approx)</span>
							</label>
						</td>
						<td class='my-tool-tip'>
							<input type="text" id="dataGrowthRate" placeholder="GBs Per Year" ng-model="tuningTab.dataGrowthRate"><i data-toggle="tooltip" title="The rate at which the data is expected to grow. " class='fa fa-info-circle' style="font-size: 18px;color: #23b4c0;left: 9px;position: relative;top: 2px;"></i></td>
					</tr>
					<tr ng-hide="tuningTab.quickRecommendationsRadio=='FALSE'">
						<td colspan="2">
							<h3 class="formSubHeading">&nbsp;</h3>
						</td>
					</tr>
					<tr ng-hide="tuningTab.quickRecommendationsRadio=='FALSE'">
						<td>
							<label class="fieldLabel" for="maximumTime">Maximum Time
								<br>
								<span class="hintText">(Taken for Providing Recommendation)</span>
							</label>
						</td>
						<td class='my-tool-tip'>
							<input type="text" id="maximumTime" name="maximumTime" jumbune-only-digits ng-model="tuningTab.maximumTime" ng-pattern='/^[0-9+]*$/' placeholder="as 10 secs or 45 mins">
							<div class="error" ng-show="tuningTab.tuningForm.maximumTime.$dirty && tuningTab.tuningForm.maximumTime.$invalid">
								<span class="error">Please enter valid tunning time.</span>
							</div>
							<i data-toggle="tooltip" title="A cut off time specified to Jumbune to finish Cost Based Optimization within this time." class='fa fa-info-circle' style="font-size: 18px;color: #23b4c0;left: 9px;position: relative;top: 2px;"></i>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<h3 class="formSubHeading">&nbsp;</h3>
						</td>
					</tr>
					<tr ng-hide="tuningTab.quickRecommendationsRadio=='FALSE'">
						<td>
							<label class="fieldLabel">
								<input type="checkbox" ng-model="tuningTab.schedule" ng-click="tuningTab.schedule= !tuningTab.schedule" />
								<span>Schedule</span>
							</label>
						</td>
						<td>
							<input type="text" ng-disabled="!tuningTab.schedule" ng-model="tuningTab.tuningScheduledTime" jumbune-datepicker/>
							<div class="error">
								<span class="error" ng-show="tuningTab.errorTuningScheduled">Please provide schedule time</span>
							</div>
					</tr>
				</tbody>
			</table>
			<!-- <div jumbune-widget-form-buttons cancel="cancel()" back="back()" next="preview()"></div> -->
			 <div class="textCenter" ng-show="showLoader"><i class="fa fa-spinner fa-spin"></i> Please Wait </div>
			<div jumbune-widget-form-buttons-three cancel="cancel()" ng-disabled="!tuningTab.tuningForm.$valid" back="back()" next="preview()"></div>
		</form>
		<div class="clear"></div>
	</div>
</div>
<!--h2 style="margin-top:0">Tuning</h2>
<table class="frm-tbl" ng-init="tuningTab.init()">
	<tbody>
		<tr ng-show="false" ng-init="tuningTab.enbTuningChk=methodTuning">
			<td colspan="2"><label class="option-label"><input type="checkbox" ng-model="tuningTab.enbTuningChk"><span>Enable Tuning</span></label></td>
		</tr>

		<tr>
			<td style="vertical-align:top">Resource Share</td>
			<td>
				<label class="option-label"><input type="radio" ng-disabled="!tuningTab.enbTuningChk" ng-model="tuningTab.resourceShareRadios" name="resourceShareRadios" value="fairScheduler"/><span>Defined in Fair Scheduler</span></label>
				<label class="option-label">
				<input type="radio" ng-disabled="!tuningTab.enbTuningChk" ng-model="tuningTab.resourceShareRadios" name="resourceShareRadios" value="manual"/><span>Manual</span></label>
			</td>
		</tr>

		<tr ng-show="tuningTab.resourceShareRadios=='manual'">
			<td colspan="2" style="padding-top: 20px;">Max resources can be consumed on worker nodes</td>
		</tr>
		<tr ng-show="tuningTab.resourceShareRadios=='manual'">
			<td>Map slots<s>*</s></td>
			<td><input type="text" ng-disabled="!tuningTab.enbTuningChk" ng-model="tuningTab.mapSlotsText" ng-required="tuningTab.enbTuningChk && tuningTab.resourceShareRadios === 'manual'"/></td>
		</tr>
		<tr ng-show="tuningTab.resourceShareRadios=='manual'">
			<td>Reduce slots<s>*</s></td>
			<td><input type="text" ng-disabled="!tuningTab.enbTuningChk" ng-model="tuningTab.reduceSlotsText" ng-required="tuningTab.enbTuningChk && tuningTab.resourceShareRadios === 'manual'"></td>
		</tr>
		<tr>
			<td colspan="2">
				<h5>Job Information</h5>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top">MapReduce Jar</td>
			<td>
				<label class="option-label">
				<input type="radio" ng-disabled="!tuningTab.enbTuningChk" ng-model="tuningTab.mapReduceJarRadios" name="mapReduceJarRadios" value="standardWordCount"><span>Standard word count</span></label>
				<label class="option-label">
				<input type="radio" ng-disabled="!tuningTab.enbTuningChk" ng-model="tuningTab.mapReduceJarRadios" name="mapReduceJarRadios" value="userSuppliedJar"><span>User supplied jar</span></label>
			</td>
		</tr>
		<tr ng-show="tuningTab.mapReduceJarRadios === 'userSuppliedJar'">
			<td>Job Input Data Path<s>*</s></td>
			<td><input type="text" ng-disabled="!tuningTab.enbTuningChk" ng-model="tuningTab.jobDataPathText" ng-required="tuningTab.enbTuningChk && tuningTab.mapReduceJarRadios === 'userSuppliedJar'"></td>
		</tr>
		<tr ng-show="tuningTab.mapReduceJarRadios === 'userSuppliedJar'">
			<td>Output Directory/File<s>*</s></td>
			<td><input type="text" ng-disabled="!tuningTab.enbTuningChk" ng-model="tuningTab.outputFileText" ng-required="tuningTab.enbTuningChk && tuningTab.mapReduceJarRadios === 'userSuppliedJar'"></td>
		</tr>
		<tr >
			<td><label class="option-label"><input type="checkbox" ng-disabled="!tuningTab.enbTuningChk" ng-model="tuningTab.schedule" ng-click="tuningTab.isScheduleChecked()"/><span>Schedule</span></label></td>
			<td><input type="text" ng-disabled="!tuningTab.schedule" ng-model="tuningTab.scheduleDateTime" jumbune-datepicker/></td>
		</tr>
		<tr>
			<td>Job Type<s>*</s></td>
			<td>
				<select ng-model="tuningTab.jobTypeOpn" ng-disabled="!tuningTab.enbTuningChk" ng-required="tuningTab.enbTuningChk" ng-options="jt as jt for jt in tuningTab.jobTypeOpnList">
					<option value="">Please Select</option>
				</select>
			</td>
		</tr>
		<tr>
			<td colspan="2"><label class="option-label"><input ng-click="tuningTab.isJobOutputChk()" ng-disabled="!tuningTab.enbTuningChk" type="checkbox" ng-model="tuningTab.jobOutputChk" /><span>Compress Job Output</span></label></td>
		</tr>
	</tbody>
</table-->
