<header id="header" class="clearfix">
    <div class="clearfix">
        <strong class="logo"><a href="#/dashboard"><img src="assets/images/logo.png" alt="image"></a></strong>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
            </button>
        </div>
        <div class="widgetWrapper clearfix" ng-show="isShowBell">
        	<div class="pull-right alertBellCount" style="width:calc(100% - 205px);margin-top:4px;">
	        	<span class="pull-right alertInfo">
                    <i class="fa fa-bell-o" ng-if="allAlerts.length == 0" title="No problem in cluster"></i>
                    <i class="fa fa-bell-o" ng-if="allAlerts.length > 0" title="There are problems in cluster"></i>
					<span ng-if="alertCounter == 0" title="Alerts" class="alertCountGreen yellowBg alertBox" ng-click="showAlertData();" >{{alertCounter}}</span>
                    <span ng-if="alertCounter > 0" title="Alerts" class="alertCountRed alertBox" ng-click="showAlertData();" >{{alertCounter}}</span>
				</span>
				<div class="newAlert alert alert-danger pull-right" role="alert" ng-show="IsVisible" ng-show="IsVisible" style="max-width:calc(100% - 200px);text-overflow: ellipsis;white-space: nowrap;overflow: hidden;margin-right:10px;padding-top: 9px;padding-bottom: 10px;margin-top: 9px;">Alert! {{instantAlertMessage}}</div>
			</div>
        </div>
        
    </div>
</header>
<script>
    history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };
</script>
