<?xml version="1.0" encoding="UTF-8"?>
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true"
	monitoringInterval="1000">

	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>%5p [%t] %d{ISO8601} %F (line %L) %m%n</pattern>
			</PatternLayout>
		</Console>
		<Console name="ConsoleOne" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>%m%n</pattern>
			</PatternLayout>
		</Console>
		<RollingFile name="rollingFileAppender" fileName="JumbuneLogs/jumbune.log"
			filePattern="JumbuneLogs/jumbune.log.%d{yyyy-MM-dd}">
			<PatternLayout>
				<pattern>%d{ISO8601} %-5level [%thread][%logger{0}] %m%n</pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
	</appenders>
	<loggers>
		<logger name="org.apache.logging.log4j.xml" level="debug"
			additivity="false">
			<appender-ref ref="Console" />
		</logger>
		<logger name="EventLogger" level="info" >
			<appender-ref ref="ConsoleOne"/>
		</logger>
		<root level="debug">
			<appender-ref ref="rollingFileAppender" />
		</root>
	</loggers>

</log4j:configuration>