<div class="container" ng-init="init()">
	<header id="header" class="clearfix">
		<div class="clearfix">
			<strong class="logo"><a href="index.html"><img src="assets/images/logo.png" alt="image"></a></strong>
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
				</button>
			</div>
			<nav class="main-nav collapse navbar-collapse" id="bs-example-navbar-collapse-1"></nav><!-- main-nav -->
		</div>
	</header><!-- header -->
	<div class="inner-container">
	<h2>Job</h2>
			<div class="col-md-12 main-container inner-container">
				<table class="frm-tbl">
					
				    <tbody>
						<tr ng-repeat="jcm in jobConfigMethods">
							<td colspan="2"><label class="option-label"><input ng-click="getJobConfigMethod($index, $event.target.checked)" type="checkbox" ng-model="jcm.visible"><span>{{jcm.name}}</span></label></td>
						</tr>
					</tbody>
				</table>
				<div class="txt-rgt fixed-btn">
					<button type="button" class="btn btn-default"  ng-click="cancel()">cancel</button>
					<button type="button" class="btn btn-primary" ng-click="goToJobWidget()">Next</button>
				</div>
			</div>
	</div>
</div>