
<!-- <h2 style="margin-top:0">Debugger</h2> -->

<div class="alert" ng-class="saveSuccess == true ?  'alert-success' : 'alert-danger'" ng-show="displayBlock" >{{blockMessage}}</div>


<p><strong>Note:</strong> Creates reports which helps to detect Map-Reduce implementation faults. Performs Map-Reduce job flow analysis</p>
<!-- <div class="error" ng-show="debuggerTab.isValidationChecked">
    <span class="error" >Please select validation checkboxes</span>
</div> -->
<table class="frm-tbl" style="width:100%" ng-init="debuggerTab.init()">
	<tbody>
		<tr ng-show="false" ng-init="debuggerTab.enableDebChk=methodDebugger">
			<td colspan="2"><label class="option-label"><input type="checkbox" ng-model="debuggerTab.enableDebChk"><span>Enable Debugger</span></td>
		</tr>



		<!-- <tr>
			<td colspan="2"><label class="option-label"><input  type="checkbox" ng-change="debuggerTab.setTabValue()" ng-required="debuggerTab.enableDebChk && !debuggerTab.usrDefChk" ng-model="debuggerTab.useRegexChk"><span>Use Regex</span></td>
		</tr>
		<tr>
			<td colspan="2"><label class="option-label"><input  type="checkbox" ng-change="debuggerTab.setTabValue()" ng-required="debuggerTab.enableDebChk && !debuggerTab.useRegexChk" ng-model="debuggerTab.usrDefChk"><span>User Defined Validations</span></td>
		</tr> -->


	<tr>Validation task output key/value</tr>

	</tbody>
</table>
<div class="row">
<form name="debuggerTab.debuggerForm"  enctype="multipart/form-data">
	<div class="col-md-12 debugger-tab">
		<ul class="nav nav-tabs" id="debugger_nav" >
			<li class="nav" ng-class="{'active': debuggerTab.selectedTab=='regex'}" ng-click="debuggerTab.selectedTab='regex'" id="UseRegex" ng-change="debuggerTab.setTabValue()" ng-required="debuggerTab.enableDebChk || !debuggerTab.usrDefChk" ng-model="debuggerTab.useRegexChk"><a  data-toggle="tab">Regular Expression</a></li>

			<li class="nav" ng-class="{'active': debuggerTab.selectedTab=='udv'}" id="udv" ng-click="debuggerTab.selectedTab='udv'" ng-change="debuggerTab.setTabValue()" ng-required="debuggerTab.enableDebChk && !debuggerTab.useRegexChk" ng-model="debuggerTab.usrDefChk"><a  data-toggle="tab" id="udv">Custom value Classes</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content" id = "debugger_tab_content">
			<div class="tab-pane" ng-class="{'active': debuggerTab.selectedTab=='regex'}" id="content_UseRegex">
				<div style="border:1px solid #ddd">
					<div class="col-md-6 col-layout config-list">
						<div class="row">
							<div class="hdr txt-rgt">
								<!-- <a href="javascript:void(0)" ng-show="debuggerTab.indexUseRegex!=null" ng-click="debuggerTab.useRegexEdit()" ><i class="fa fa-pencil circle-icon yel-icon"></i></a>
								<a href="javascript:void(0)" ng-show="debuggerTab.indexUseRegex!=null" ng-click ="debuggerTab.useRegexDelete()" ><i class="fa fa-minus circle-icon red-icon"></i></a> -->
								<a href="javascript:void(0)" ng-click="debuggerTab.addUserRegexClick()" ><i class="fa fa-plus circle-icon green-icon"></i></a>
							</div>
							<div class="main-body">
								<ul class="list">
									<li class="use-regex-rows" id="{{$index}}" ng-repeat = "row in debuggerTab.useRegex">{{row.classname}}
									<div style="float:right;"><a href="javascript:void(0)" ng-click="debuggerTab.useRegexEdit($index); $event.stopPropagation()" ><i class="fa fa-pencil circle-icon yel-icon"></i></a>
								<a href="javascript:void(0)" ng-click ="debuggerTab.useRegexDelete($index)" ><i class="fa fa-minus circle-icon red-icon"></i></a></div></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-layout">
						<div class="row" id="regexInputboxWrapper" style="display:none" >
							<div class="hdr"></div>
							<div class="main-body">
								<div class="content-wpr">
									<table class="frm-tbl summary-tbl">
										<tr>
											<td>Mapper/Reducer Name</td>
											<!-- <td><input type="text" ng-disabled="debuggerTab.regexType == 'edit'" ng-required="debuggerTab.enableDebChk" ng-model="debuggerTab.reducerNameText" ng-trim/></td> -->
											<td class='my-tool-tip'><input type="text" ng-required="debuggerTab.enableDebChk" name = "reduceNameTXT" required ng-model="debuggerTab.reducerNameText" ng-trim/><i data-toggle="tooltip" title="The fully qualified class name of the Mapper/Reduce class for debugging." class='fa fa-info-circle' style="font-size: 18px;color: #23b4c0;left: 9px;position: relative;top: 2px;"></i></td>
										</tr>
										<tr>
											<td>Regex on Key</td>
											<td class='my-tool-tip'><input type="text" ng-required="debuggerTab.enableDebChk && !debuggerTab.regexValText" required ng-model="debuggerTab.regexKeyText" ng-trim/><i data-toggle="tooltip" title="	Regular expression for validation on the emitted key." class='fa fa-info-circle' style="font-size: 18px;color: #23b4c0;left: 9px;position: relative;top: 2px;"></i></td>
										</tr>
										<tr>
											<td>Regex on Value</td>
											<td class='my-tool-tip'><input type="text" ng-required="debuggerTab.enableDebChk && !debuggerTab.regexKeyText" required ng-model="debuggerTab.regexValText" ng-trim/><i data-toggle="tooltip" title="Regular expression for validation on the emitted value." class='fa fa-info-circle' style="font-size: 18px;color: #23b4c0;left: 9px;position: relative;top: 2px;"></i></td>
										</tr>
									</table>
									<div class="pull-right"><button type="button" class="btn btn-primary" ng-show="debuggerTab.regexType == 'add'" 
										
										ng-disabled="!debuggerTab.reducerNameText || (!debuggerTab.regexKeyText &&!debuggerTab.regexValText)"

										ng-click="debuggerTab.addRegexInput()" >Add</button>
										<button type="button" class="btn btn-primary" ng-show="debuggerTab.regexType != 'add'" ng-click="debuggerTab.addRegexInput()">Update</button>&nbsp;&nbsp;<button type="button" class="btn btn-default" ng-click="debuggerTab.hideRegexInputboxWrapper()">Cancel</button></div>
								</div>
							</div>
						</div>

						<!-- <div class="row" id="regexDataLabel" style="display:none" >
							<div class="hdr"></div>
							<div class="main-body">
								<div class="content-wpr">
									<table class="frm-tbl summary-tbl">
										<tr>
											<td>Mapper/Reducer Name</td>
											<td>{{debuggerTab.reducerNameText}}</td>
										</tr>
										<tr>
											<td>Regex on Key</td>
											<td>{{debuggerTab.regexKeyText}}</td>
										</tr>
										<tr>
											<td>Regex on Value</td>
											<td>{{debuggerTab.regexValText}}</td>
										</tr>
									</table>
								</div>
							</div>
						</div> -->

					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="tab-pane" ng-class="{'active': debuggerTab.selectedTab=='udv'}"id="content_udv" >
				<div style="border:1px solid #ddd">
					<div class="col-md-6 col-layout config-list">
						<div class="row">
							<div class="hdr txt-rgt">
								<!-- <a href="javascript:void(0)" ng-show="debuggerTab.indexUdv!=null" ng-click="debuggerTab.udvEdit()"><i class="fa fa-pencil circle-icon yel-icon"></i></a>
								<a href="javascript:void(0)" ng-show="debuggerTab.indexUdv!=null" ng-click ="debuggerTab.udvDelete()"><i class="fa fa-minus circle-icon red-icon"></i></a> -->
								<a href="javascript:void(0)" ng-click="debuggerTab.addUdvClick()"><i class="fa fa-plus circle-icon green-icon"></i></a>
							</div>
							<div class="main-body">
								<ul class="list">
									<!-- <li class="active"><a href="#">User validation 1</a></li> -->
									<li class="udv-rows" id="udv_{{$index}}" ng-repeat = "row in debuggerTab.udv">{{row.classname}}
									<div style="float:right;"><a href="javascript:void(0)" ng-click="debuggerTab.udvEdit($index); $event.stopPropagation()"><i class="fa fa-pencil circle-icon yel-icon"></i></a>
								<a href="javascript:void(0)" ng-click ="debuggerTab.udvDelete($index)"><i class="fa fa-minus circle-icon red-icon"></i></a></div></li>

								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-layout">
						<div class="row" id="udvInputboxWrapper" style="display:none">
							<div class="hdr"></div>
							<div class="main-body">
								<div class="content-wpr">
									<table class="frm-tbl summary-tbl">
										<tr>
											<td>Mapper/Reducer Name</td>
											<td>
												<!-- <input type="text" ng-disabled="debuggerTab.userType == 'edit'" ng-required="debuggerTab.enableDebChk" ng-model="debuggerTab.udvReducerNameText" ng-trim> -->
												<input type="text" ng-required="debuggerTab.enableDebChk" ng-model="debuggerTab.udvReducerNameText" ng-trim>
											</td>
										</tr>
										<tr>
											<td>Key Validator Class</td>
											<td class='my-tool-tip'><input type="text" ng-required="debuggerTab.enableDebChk && !debuggerTab.udvValText" ng-model="debuggerTab.udvKeyText" ng-trim><i data-toggle="tooltip" title="The fully qualified class name of the custom java class written for validating the emitted key." class='fa fa-info-circle' style="font-size: 18px;color: #23b4c0;left: 9px;position: relative;top: 2px;"></i></td>
										</tr>
										<tr>
											<td>Value Validator Class</td>
											<td class='my-tool-tip'><input type="text" ng-required="debuggerTab.enableDebChk && !debuggerTab.udvKeyText" ng-model="debuggerTab.udvValText" ng-trim><i data-toggle="tooltip" title="The fully qualified class name of the custom java class written for validating the emitted value." class='fa fa-info-circle' style="font-size: 18px;color: #23b4c0;left: 9px;position: relative;top: 2px;"></i></td>
										</tr>
									</table>
									<div class="pull-right">
										<button type="button" ng-show="debuggerTab.userType == 'add'"
											ng-disabled="!debuggerTab.udvReducerNameText || (!debuggerTab.udvKeyText && !debuggerTab.udvValText)"
											class="btn btn-primary" ng-click="debuggerTab.addUdvInput()" >Add</button>
											<button type="button" class="btn btn-primary" ng-show="debuggerTab.userType != 'add'" ng-click="debuggerTab.addUdvInput()">Update</button>&nbsp;&nbsp;<button type="button" class="btn btn-default" ng-click="debuggerTab.hideUdvInputboxWrapper()">Cancel</button>
									</div>
								</div>
							</div>
						</div>
						<div class="row" id="userDataLabel" style="display:none" >
							<div class="hdr"></div>
							<div class="main-body">
								<div class="content-wpr">
									<table class="frm-tbl summary-tbl">
										<tr>
											<td>Mapper/Reducer Name</td>
											<td>{{debuggerTab.udvReducerNameText}}</td>
										</tr>
										<tr>
											<td>Regex on Key</td>
											<td>{{debuggerTab.udvKeyText}}</td>
										</tr>
										<tr>
											<td>Regex on Value</td>
											<td>{{debuggerTab.udvValText}}</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>

		
	</div>
	 <tr>
            <td colspan="2"><label class="option-label"><input type="checkbox" ng-disabled="!debuggerTab.enableDebChk" ng-model="debuggerTab.enableLoggingOfUnmatched"><span>Capture unmatched key/value</span></td>
        </tr>
<div class="txt-rgt">
</div>
	<div jumbune-widget-form-buttons-three cancel="cancel()" disable="debuggerTab.disableRegex || debuggerTab.disableUdv" back="backDebugger()" next="preview()"></div>
</form>
</div>
