<!-- <ul class="nav nav-tabs tabs-left sideways" id="JobWidgetTab"> -->
<ul class="nav sideways" id="JobWidgetTab">
	<li ng-show="methodDebugger"  class="method-debugger" ng-class="{'active': isActiveTab == 'Debugger' }">
		<a data-toggle="tab" ng-click="showMethod(true, false, false, 'Debugger')" style="border:0px;"></a>
	</li>
	
	<li ng-show="methodJobProfiling" class="method-job-profiling" ng-class="{'active': isActiveTab == 'JobProfiling' }">
		<a data-toggle="tab" ng-click="showMethod(false, true, false, 'JobProfiling')">Job Profiling</a>
	</li>
	<!-- <li ng-show="methodTuning" class="method-tuning" ng-class="{'active': isActiveTab == 'Tuning' }">
		<a data-toggle="tab" ng-click="showMethod(true, false, false, false, false, 'Tuning',false)">Tuning</a>
	</li> -->

	<!-- <li ng-show="dataValidation" class="method-data-validation" ng-class="{'active': isActiveTab == 'DataValidation' }">
		<a data-toggle="tab" ng-click="showMethod(false, false, false, false, true, 'DataValidation',false)">Data Validation</a>
	</li>
	<li ng-show="methodWhatIf" class="method-WhatIf" ng-class="{'active': isActiveTab == 'WhatIf' }">
		<a data-toggle="tab" ng-click="showMethod(false, false, true, false, false, 'WhatIf',false)">What If</a>
	</li>
	<li ng-show="methodTuning" class="method-tuning" ng-class="{'active': isActiveTab == 'Tuning' }">
		<a data-toggle="tab" ng-click="showMethod(true, false, false, false, false, 'Tuning',false)">Tuning</a>
	</li> -->
</ul>