<div class="container" ng-init="NewJobConfigController.init()">
	<div jumbune-header=""></div>
    <form name="myForm">
	<div class="inner-container">
		<h2>Analyze Job</h2>
			<div class="col-md-12 main-container tab-container">
				<table class="frm-tbl">
					
				    <tbody>
                        <tr>
                            <td style="left: 300px; position: relative;"><label class="fieldLabel">Job Name<s>*</s></label></td>
                            <td style="left: 300px; position: relative;">
                                <input type="text" name="jobName" ng-model="NewJobConfigController.jobName" ng-pattern="/^[a-zA-Z0-9_]+$/" ng-maxlength=50 required>
                                <p class="error" ng-show="myForm.jobName.$error.pattern">Only alphanumeric values and underscore is allowed</p>
                                <p class="error" ng-show="myForm.jobName.$error.maxlength">Maximum allowed length is 50 characters</p>
                                <div class="error">
                                        <span class="error" ng-show="errorMessageShow">{{errorMessage}}</span> 
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="left: 300px; position: relative;"><label class="fieldLabel">Select Cluster<s>*</s></label></td>
                            <td style="left: 300px; position: relative;">
                                <select ng-disabled="NewJobConfigController.disableSelectCluster()" name="clusters" ng-model="NewJobConfigController.selectedCluster" id="selectedCluster" ng-options="clus as clus for clus in NewJobConfigController.clusterList">
                                    <option value="">Please Select</option>
                                </select>
                                <span>
                                    <div class="error">
                                        <span class="error" ng-show="errorSelctedClus">Please Select Cluster Name</span>
                                    </div>
                                </span>
                            </td>
                        </tr>
						<tr>
                            <td style="left: 300px; position: relative;"><label class="fieldLabel">Temp Directory<s>*</s></label></td>
                            <td style="left: 300px; position: relative;">
                                <input type="text" name="tempDirectory" onClick="this.select();"  ng-model="NewJobConfigController.tempDirectory">
                            </td>
                        </tr>
					</tbody>
				</table>
				<div class="textCenter fixed-btn">
				<button type="button" class="btn btn-default" ng-click="NewJobConfigController.backJob()">Back</button>&nbsp;&nbsp;
					<button type="button" ng-disabled="NewJobConfigController.disableNextButton()" class="btn btn-primary" ng-click="NewJobConfigController.next()">Next</button>
				</div>
			</div>
		<div class="clear"></div>
	</div>
	
    </form>
</div>