.container{
	margin:0 auto;
	width:941px;
}
.phase-graph{
	margin: 10px;
    width: 930px;
	position: relative;
    border-left:1px solid #000000;
	border-bottom:1px solid #000000;
	float:left;
	display:none;	
}
.graph-container {
	float:left;
	width:100%;
	display:none;
}
.graph-container.active {
	display:block;
}
.header-row  {
	float:left;
	width:100%;
	position:relative;
}
.content-row {
	border: 1px solid #fff;   
    float: left;
    margin: 15px 0;
    padding: 10px;
    width: 904px;
	background-color: #b1b1b1;
	/*box-shadow: 0 0 4px #222222;
	-moz-box-shadow:  0 0 4px #222222;
	-webkit-box-shadow: 0 0 4px #222222;
	border-radius: 5px;*/
}
.graph-switcher {
	float:right;
	width:252px;
	color:#333;
	position:absolute;
	right:0px;
	top:35px;
	z-index:1001;
	/*border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	box-shadow: 0 0 2px 2px silver;
	-moz-box-shadow: 0 0 2px 2px silver;
	-webkit-box-shadow: 0 0 2px 2px silver;
	background:url(../images/switch-bg.png) no-repeat right bottom;*/
}
.graph-switcher .switch {
	float:left;
	text-align:center;
	padding:12px 0px;
	cursor:pointer;
	color:#666;
	overflow:hidden;
	width:100%;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;	
}
.graph-switcher:hover {
	float:right;
	color:#333;
	/*border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	box-shadow: 0 0 2px 2px silver;
	-moz-box-shadow: 0 0 2px 2px silver;
	-webkit-box-shadow: 0 0 2px 2px silver;
	background:url(../images/switch-bg.png) no-repeat right bottom;*/
}
.graph-switcher .switch.active {
	color:#333;
	background-image: url(../images/arrow_tab.png);	
	font-weight:bold;
}
.graph-switcher .switch.active:hover {
	color:#333;
	font-weight:bold;
}
.phase-graph-legends {
	float:left;
	width:100%;
	text-align:center;		
}
.pgl-block {
	float:left;	
	border:1px solid #ccc;
}
.pgl-block-inner {
	float:none;
	display:inline-block;
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#d6d6d6));
	background-image: -webkit-linear-gradient(top, #f7f7f7, #d6d6d6);
	background-image:    -moz-linear-gradient(top, #f7f7f7, #d6d6d6);
	background-image:      -o-linear-gradient(top, #f7f7f7, #d6d6d6);
	background-image:         linear-gradient(to bottom, #f7f7f7, #d6d6d6);
}
.pgl-block-left {
	float:left;
	width:10px;
	border:1px solid #fff;
	box-shadow: 0 0 0px 1px #aaa;
	-moz-box-shadow: 0 0 0px 1px #aaa;
	-webkit-box-shadow: 0 0 0px 1px #aaa;
	margin:5px 3px 0px 3px;
	font-size: 10px;
    height: 12px;
	opacity: 0.8;
	font-weight:bold;
	color:#444444;
}
.pgl-block-right {
	float:left;
	padding:0px 4px;
	text-align:left;
	color:#757575;
	margin:0px 3px 0px 0px;
	line-height:22px;
	font-size:11px;
	font-weight:bold;
}
.phase{	
	position:absolute;
	/*margin: 0 auto;
	bottom:0;
	cursor:pointer;	*/
	float:left;
	border:1px solid #444;
	-khtml-opacity: .8;  
    -moz-opacity: .8;
	-webkit-opacity: 0.8;
	filter:alpha(opacity=80);
	opacity: .8;
    margin-top:5px;		
}

.phase-topLayer{	
	position:absolute;
	/*margin: 0 auto;
	bottom:0;
	cursor:pointer;	*/
	float:left;	
	-khtml-opacity: .8;  
    -moz-opacity: .8;
	-webkit-opacity: 0.8;
	filter:alpha(opacity=80);
	opacity: .8;    	
}

.phasepoint{	
	position:absolute;
	/*margin: 0 auto;
	bottom:0;
	cursor:pointer;	*/
	float:left;
	border:
	-khtml-opacity: .8;  
    -moz-opacity: .8;
	-webkit-opacity: 0.8;
	filter:alpha(opacity=80);
	opacity: .8;
    margin-top:5px;		
}

.phase-default{	
	position:absolute;
	/*margin: 0 auto;
	bottom:0;
	cursor:pointer;	*/
	height:15px;
	float:left;
	border:none;
	-khtml-opacity: .8;  
    -moz-opacity: .8;
	-webkit-opacity: 0.8;
	filter:alpha(opacity=80);
	opacity: .8;
    margin-top:5px;		
}
.text-class{
	font-size:15px;
	color: white;
	float:left;
	margin:0 auto;
	position:absolute;	
}
#chart-worst{
	margin-top:20px; 
	margin-left:20px; 
	width:400px; 
	height:auto;
	float:left;
}
#chart-high{
	margin-top:20px; 
	margin-left:120px; 
	width:400px; 
	height:auto;
	float:left;
}
.interval{
	font-size:15px;
	color: #000000;
	float:left;
	margin:0 auto;
	position:absolute;
	bottom:0;	
}
#chart-instance{    
    float: left;     
    position: relative;
    width: 99%;
	padding-left:8px;
	/*background: none repeat scroll 0 0 #ffffff;
	box-shadow: 0 0 4px #fff;
	-moz-box-shadow:  0 0 4px #fff;
	-webkit-box-shadow: 0 0 4px #fff;
	border-radius: 5px;*/
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#d6d6d6));
	background-image: -webkit-linear-gradient(top, #f7f7f7, #d6d6d6);
	background-image:    -moz-linear-gradient(top, #f7f7f7, #d6d6d6);
	background-image:      -o-linear-gradient(top, #f7f7f7, #d6d6d6);
	background-image:         linear-gradient(to bottom, #f7f7f7, #d6d6d6);
	margin: 20px 20px 20px 0;
	padding-top:6px;
	border:1px solid #fff;
}
#chart-instance-1{    
    float: left;     
    position: relative;
    width: 99%;
	padding-left:8px;
	/*background: none repeat scroll 0 0 #ffffff;
	box-shadow: 0 0 4px #fff;
	-moz-box-shadow:  0 0 4px #fff;
	-webkit-box-shadow: 0 0 4px #fff;
	border-radius: 5px;*/
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#d6d6d6));
	background-image: -webkit-linear-gradient(top, #f7f7f7, #d6d6d6);
	background-image:    -moz-linear-gradient(top, #f7f7f7, #d6d6d6);
	background-image:      -o-linear-gradient(top, #f7f7f7, #d6d6d6);
	background-image:         linear-gradient(to bottom, #f7f7f7, #d6d6d6);
	margin: 20px 20px 20px 0;
	padding-top:6px;
	border:1px solid #fff;
}
#chart-instance-2{    
    float: left;     
    position: relative;
    width: 99%;
	padding-left:8px;
	/*background: none repeat scroll 0 0 #ffffff;
	box-shadow: 0 0 4px #fff;
	-moz-box-shadow:  0 0 4px #fff;
	-webkit-box-shadow: 0 0 4px #fff;
	border-radius: 5px;*/
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#d6d6d6));
	background-image: -webkit-linear-gradient(top, #f7f7f7, #d6d6d6);
	background-image:    -moz-linear-gradient(top, #f7f7f7, #d6d6d6);
	background-image:      -o-linear-gradient(top, #f7f7f7, #d6d6d6);
	background-image:         linear-gradient(to bottom, #f7f7f7, #d6d6d6);
	margin: 20px 20px 20px 0;
	padding-top:6px;
	border:1px solid #fff;
}
.instance-graph{
	float:left;
	width:100%;
	position:absolute;
	margin-left: -1px;
}
.opac1{
	-khtml-opacity: .8;  
    -moz-opacity: .8;
	-webkit-opacity: .8;
	filter:alpha(opacity=80);
	opacity: .8;	
}
.opac3{
	-khtml-opacity: .8;  
    -moz-opacity: .8;
	-webkit-opacity: .8;
	filter:alpha(opacity=80);
	opacity: .8;		
}
.opac2{
	-khtml-opacity: .8;  
    -moz-opacity: .8;
	-webkit-opacity: .8;
	filter:alpha(opacity=80);
	opacity: .8;			
}
.legend-width{	
	width:50px;
	margin-right:0px;
	margin-left:0px;
}
.chart-instance-child{
	border-bottom: 1px solid #444444;
    border-left: 1px solid #444444;
    float: left;
    margin-left: 15px;
    position: static;
    width: 95%;
}

.chart-instance-child-1{
	border-bottom: 1px solid #444444;
    border-left: 1px solid #444444;
    float: left;
    margin-left: 37px;
    position: static;
    width: 95%;
}
.chart-instance-child-2{
	border-bottom: 1px solid #444444;
    border-left: 1px solid #444444;
    float: left;
    margin-left: 37px;
    position: static;
    width: 95%;
}

.jvm-graph { overflow-y: auto; overflow-x: hidden; }
