.slide {
  overflow: hidden;
  cursor: pointer;
}
.slide .on,.slide .off,.slide .blob {
    float: left;
}
.slide .blob {
    position: relative;
    z-index: 99;
    cursor: hand;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.iphone .slide {
  border-radius: 9999px;
  box-shadow: 0 0 0 1px #999;
}
.iphone .slide .on,.iphone .slide .off,.iphone .slide .blob {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0 0 8px rgba(0,0,0,0.5);
}
.iphone .slide .on {
  border-radius: 9999px 0 0 9999px;
  background: #CCCCCC; /* Old browsers */
  /*box-shadow: inset 2px 2px 5px rgba(0,0,0,0.4);*/
}
.iphone .slide .off {
  box-shadow: inset -2px 2px 5px rgba(0,0,0,0.4);
  border-radius: 0 9999px 9999px 0;
  color: rgb(130,130,130);
  text-shadow: 0 0 1px white;

}
.iphone .slide .on:after {
  background: #1189f1; /* Old browsers */
  background: -moz-linear-gradient(top,  #CCCCCC 0%, #CCCCCC 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CCCCCC), color-stop(100%,#CCCCCC)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #CCCCCC 0%,#CCCCCC 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #CCCCCC 0%,#CCCCCC 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #CCCCCC 0%,#CCCCCC 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #CCCCCC 0%,#CCCCCC 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CCCCCC', endColorstr='#CCCCCC',GradientType=0 ); /* IE6-9 */
  height: 50%;
  content: '';
  margin-top: -19%;
  display: block;
  border-radius: 9999px;
  margin-left: 10%;
}
.iphone .slide .off {
  background: #ECECEC;
}
.iphone .slide .off:after {
  background: #fafafa; /* Old browsers */
  background: -moz-linear-gradient(top,  #fafafa 0%, #fdfdfd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#fdfdfd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fafafa 0%,#fdfdfd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fafafa 0%,#fdfdfd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fafafa 0%,#fdfdfd 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fafafa 0%,#fdfdfd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#fdfdfd',GradientType=0 ); /* IE6-9 */
  height: 50%;
  content: '';
  margin-top: -19%;
  display: block;
  margin-right: 10%;
  border-radius: 9999px;
}
.iphone .slide .blob {
  border-radius: 50px;
  background: #d1d1d1; /* Old browsers */
  background: -moz-linear-gradient(top,  #d1d1d1 0%, #fafafa 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1d1d1), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d1d1d1 0%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #d1d1d1 0%,#fafafa 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #d1d1d1 0%,#fafafa 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #d1d1d1 0%,#fafafa 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.6), inset 0 0 0 2px white, 0 0 3px rgba(0,0,0,0.6);
}
/*added for on/off plugin*/
.timeInterval{
	  float:right;
	  margin-bottom:10px;
	  margin-left:0px;
	  margin-right:0;
	  margin-top:0;
	  padding-right:0px;
	  width: 100%;	
	  line-height: 23px;
}
.iphone{
	float:right;
	/*padding-top:25px;*/
	border:1px solid #CCCCCC;
	position:absolute;
	height: 95px;
	right:22px;
	top:46px;
	width: 290px;
}
.toggleDisable{
	float:left;
	margin-left:2px;
	margin-bottom:8px;
}
.interval-label{
	float:left;
	text-align: right;
   width: 130px;
	font-weight:bold;
	margin-right:5px;
  	margin-top:0px;
}
.timer-block{
	margin-left:0px;
	margin-top:5px;
	float: left;
	width: 100%;
}

/*added for on/off plugin*/
