<?xml version="1.0" encoding="UTF-8"?>
<log4j:configuration debug="true"
	monitoringInterval="5">
	<appenders>
		
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>%m%n</pattern>
			</PatternLayout>
		</Console>
		
		
		<RollingFile name="rollingFileAppender" fileName="JumbuneLogs/jumbune.log"
			filePattern="JumbuneLogs/jumbune.log.%d{yyyy-MM-dd}">
			<PatternLayout>
				<pattern>%d{ISO8601} %-5level [%thread][%logger{0}] %m%n</pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
	</appenders>
	
	<loggers>
		<logger name="EventLogger" level="info" >
			<appender-ref ref="Console"/>
		</logger>
		<root level="info">
			<appender-ref ref="rollingFileAppender" />
		</root>
	</loggers>

</log4j:configuration>