<div class="container" ng-init="NewJobConfigController.init()">
    <div jumbune-header></div>
    <div class="inner-container">
        <div class="main-container">
        <div class="table-responsive ddv-table">
                <table class="table table-striped dtl-tbl">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Job Name</th>
                            <th>HDFS Path</th>
                            <th>Last Executed Time</th>
                            <th>Recurring Interval</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='tab in NewJobConfigController.getClusterList.data track by $index'>
                        <td>
                                <i style="cursor:pointer;" class="fa fa-play" ng-click="NewJobConfigController.submitRecurring(tab.jobName)" title="Save" alt="Save"></i>
                            </td>
                            <td>
                               {{tab.jobName}}
                            </td>
                            <td>
                              {{tab.hdfsPath}}
                            </td>
                            <td>
                               {{tab.lastExecutedTime}}
                            </td>
                            <td>
                              {{tab.recuringInterval}}
                            </td>
                            <td>
                               <i style="cursor:pointer;" title="Delete" alt="Delete " class="fa fa-trash"  ng-click="NewJobConfigController.deleteRecurring(tab.jobName,$index)"></i>
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
                <div class="textCenter">
                        <button type="button" class="btn btn-default"  ng-click="NewJobConfigController.cancelRecurring()">Back</button>
                         <button type="submit" href="#/cluster" ng-click="NewJobConfigController.selectedTab = 'DataQuality'" id="lnk_dataSuite" class="btn btn-primary">Add New</button>
                   
                </div>
            </div>




        </div>
    </div>
</div>