<p>Collects basic information about Hadoop master node and worker node.</p>
			            	<div class="txt-rgt" style="margin-bottom:12px;">
			            		<a href="#/add-cluster" ng-click="setClusterModeType('add',currCluster)">Add Cluster <i class="fa fa-plus circle-icon green-icon"></i></a>
			            	</div>
			            	<div class="row">
				            	<div class="col-md-12">
					            	<div style="border:1px solid #ddd">
					            		<div class="col-md-4 col-layout config-list">
				            				<div class="row">
				            					<div class="hdr txt-rgt">
				            						<a data-target="#"><i class="fa fa-pencil circle-icon yel-icon" ng-click="editCluster(currCluster)"></i></a>
				            						<a data-target="#"><i class="fa fa-minus circle-icon red-icon" ng-click="deleteCluster(currCluster)"></i></a>
				            					</div>
					            				<div>
					            					<ul class="list" >
                                                        <li ng-class="{active:(currCluster==cluster)}" ng-repeat="cluster in clusterNameArr" ng-click="selectCluster(cluster)">
															{{cluster}}
														</li>
					            					</ul>
					            				</div>
				            				</div>
				            			</div>
				            			<div class="col-md-8 col-layout">
				            				<div class="row">
					            				<div class="hdr">Cluster Summary</div>
					            				<div class="main-body">
						            				<div class="content-wpr">
						            					<table class="frm-tbl summery-tbl" ng-if="clusterNameArr.length > 0">
						            						<tr>
						            							<td>User</td>
						            							<td>{{userMN_D}}</td>
						            						</tr>
						            						<tr>
						            							<td>Host</td>
						            							<td>{{hostMN_D}}</td>
						            						</tr>
						            						<tr>
						            							<td>RSA/DSA file</td>
						            							<td>{{fileTypeMN_D}}</td>
						            						</tr>
						            						<tr>
						            							<td>Agent Port</td>
						            							<td>{{agentPortMN_D}}</td>
						            						</tr>
						            						<tr>
						            							<td>Jmx Port</td>
						            							<td>{{jmxPortMN_D}}</td>
						            						</tr>
						            						<tr>
						            							<td>Job Tracker Port</td>
						            							<td>{{jobTrackerPortMN_D}}</td>
						            						</tr>
						            					</table>
						            				</div>
					            				</div>
					            			</div>
				            			</div>
				            			<div class="clear"></div>
				            		</div>
				            		<div class="txt-rgt">
										<!-- <button type="button" class="btn btn-default">cancel</button> -->
                                        <button type="button" class="btn btn-default" ng-click="gotoIndex()">cancel</button>
                                        <button type="button" class="btn btn-primary" ng-click="gotoIndex()">Submit</button>
									</div>
			            		</div>
			            	</div>