	<p>Statistical analysis of data values present in the enterprise data lake.</p>
                    <div ng-controller="ProfileController">
			            	<div class="txt-rgt" style="margin-bottom:12px;">
			            		<a href="#/data-profiling" ng-click="addDataProfiler()">Add Data Profiler <i class="fa fa-plus circle-icon green-icon"></i></a>
			            	</div>
			            	<div class="row">
				            	<div class="col-md-12">
					            	<div style="border:1px solid #ddd">
					            		<div class="col-md-4 col-layout config-list">
				            				<div class="row">
				            					<div class="hdr txt-rgt">
				            						<a data-target="#"><i class="fa fa-pencil circle-icon yel-icon" ng-click="editDP(currDataProfile)"></i></a>
				            						<a data-target="#"><i class="fa fa-minus circle-icon red-icon" ng-click="deleteDP(currDataProfile)"></i></a>
				            					</div>
					            				<div class="main-body">
					            					<ul class="list">
                                                        <li ng-class="{active:(currDataProfile==dataProfiling.name)}" ng-repeat="dataProfiling in common.dataProfilingNameArr" ng-click="selectDataProfile(dataProfiling)">
                                                            {{dataProfiling.name}}
                                                        </li>
					            					</ul>
					            				</div>
				            				</div>
				            			</div>
				            			<div class="col-md-8 col-layout">
				            				<div class="row">
					            				<div class="hdr">Data Profiler Summary</div>
					            				<div class="main-body">
						            				<div class="content-wpr">
						            					<table class="frm-tbl summery-tbl" ng-if="common.dataProfilingNameArr.length > 0">
						            						<tr>
						            							<td>HDFS Input Path</td>
						            							<td>{{selProfilingObj.inputPath}}</td>
						            						</tr>
						            						<tr>
						            							<td>Tuple Record Separator</td>
						            							<td>{{selProfilingObj.tupleRS}}</td>
						            						</tr>
						            						<tr>
						            							<td>Tuple Field Separator</td>
						            							<td>{{selProfilingObj.tupleFS}}</td>
						            						</tr>
						            					</table>
						            				</div>
					            				</div>
					            			</div>
				            			</div>
				            			<div class="clear"></div>
				            		</div>
				            		<div class="txt-rgt">
										<!-- <button type="button" class="btn btn-default">cancel</button> -->
                                        <button type="button" class="btn btn-default" ng-click="gotoIndex()">cancel</button>
										<button type="button" class="btn btn-primary" ng-click="submit()">Submit</button>
									</div>
			            		</div>
			            	</div>
                    </div>