<div class="container" ng-init="DPDQPreviewController.init()">
	<div jumbune-header=""></div>
	<div class="inner-container">
        
	    <h2>Preview</h2>
        <div class="col-md-12 main-container inner-container">

            <div class="row">
                <div class="col-md-12" ng-repeat="dsDetails in DPDQPreviewController.dataSuiteDetails">
                    <div class="col-md-12">Name: {{dsDetails.name}}</div>
                    <div class="col-md-12" ng-if="dsDetails.isCriteriaBased != ''">Is criteria based: {{dsDetails.isCriteriaBased}}</div>
                    <div class="col-md-12">{{dsDetails.enableFieldLabel}} is enabled</div>
                </div>
            </div>

            <table class="frm-tbl" style="width:100%">
                <colgroup>
                    <col width="30%">
                    <col width="70%">
                </colgroup>
                <tbody>
                    
                    <tr ng-repeat="dsDetails in DPDQChartController.dataSuiteDetails">
                        <td ng-hide="DPDQChartController.isNoCriteria">
                            <div style="width:600px;height:400px" bistel-chart="dsDetails.chartModel.chartData" chart-options="dsDetails.chartModel.chartOptions"></div>
                        </td>

                        <td ng-show="DPDQChartController.isNoCriteria">
                            <!-- <div style="float:left;" circular-chart d-text="{{DPDQChartController.dtext}}" fill-color="{{DPDQChartController.fillColor}}" d-percent="{{DPDQChartController.dPercent}}"></div>

                            <div style="float:left;" circular-chart d-text="{{DPDQChartController.dext}}" fill-color="{{DPDQChartController.fillColor}}" d-percent="{{DPDQChartController.dPercent}}"></div> -->

                            <div style="float:left; margin-right:150px; text-align:center; width: 350px;" circular-chart-f1 dtext="{{DPDQChartController.dtextF1}}" fill-color="{{DPDQChartController.fillColorF1}}"></div>
                            <div style="float:left;text-align:center; width: 350px;" circular-chart-f2 dtext="{{DPDQChartController.dtextF2}}" fill-color="{{DPDQChartController.fillColorF2}}"></div>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
            <div class="txt-rgt fixed-btn">
                <button type="button" class="btn btn-primary" ng-click="DPDQChartController.back()">Back</button>
            </div>
        </div>
	</div><!-- info-holder -->
</div>