/*-----jumbune-color-----*/
$header-color: #5f9ea0;
//$primary-color: #427879;
$primary-color: #1d78cd;
$secondary-color: #23b4c0;

$success-color: #4cae4c;
$error-color: #d43f3a;
$warning-color:#FF5722;

$primary-btn-color:#1c77cc;
$success-btn-color:#13C291;
$success-list-color:#5cb85c;
$cancel-btn-color: #d9534f;

$panel-color: #33b5e5;
$label-color:#A7A7A7;
$icon-color: #5a95f5;
$border-color:#0069d9;
$outline-border-color: #4181ea;
$widget-color:#ffbb33;
$background-color:#eee;
$widet-danger-color:#C62828;
$widet-primary-color:#009688;
$widet-warning-color:#F2B53F;
$widet-accent-color:#FF5252;
$widget-error-color:#FF5722;




$white: #fff;
$light-grey: lightgrey;
$lightest-grey: #ddd;
$lightest-blue:#cedeef;

$border-radius: 0px;
$round-border-radius: 4px;

$global-box-shadow:0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);

$extra-large-font-size:24px;
$large-font-size:18px;
$normal-font-size: 14px;
$small-font-size: 12px;
$nav-font-size:13px;
