
<!-- header -->
<div class="container" ng-init="init()">
<div jumbune-header=""></div>
    <div class="inner-container">
        <div class="alert" ng-class="saveSuccess == true ?  'alert-success' : 'alert-danger'" ng-show="displayBlock" >{{blockMessage}}</div>
        <h2>Define Data Profiler</h2>
        <div class="main-container">
            <form autocomplete="off" ng-submit="save()" name="DpForm" enctype="multipart/form-data" novalidate>
                <table class="frm-tbl" align="center" width="98%">
                    <tbody>
                    <tr>
                        <td><label class="fieldLabel">Tuple Record Separator<s>*</s></label></td>
                        <td>
                            <input type="text" name="tupleRS" ng-model="selProfilingObj.tupleRS" required ng-class="{'has-error':(DpForm.tupleRS.$invalid && !DpForm.tupleRS.$pristine && DpForm.tupleRS.blur) || (DpForm.tupleRS.$invalid && submitForm)}">

                            <div class="error" ng-show="DpForm.tupleRS.$dirty && DpForm.tupleRS.$invalid">
                                <span class="error" ng-show="DpForm.tupleRS.$error.required">Please enter tuple record separator value.</span> 
                            </div>
                        </td>
                        
                    </tr>
                    <tr>
                        <td><label class="fieldLabel">Tuple Field Separator<s>*</s></label></td>
                        <td colspan="3">
                                <input type="text" name="tupleFS" ng-model="selProfilingObj.tupleFS" required ng-class="{'has-error':(DpForm.tupleFS.$invalid && !DpForm.tupleFS.$pristine && DpForm.tupleFS.blur) || (DpForm.tupleFS.$invalid && submitForm)}">

                                <div class="error" ng-show="DpForm.tupleFS.$dirty && DpForm.tupleFS.$invalid">
                                    <span class="error" ng-show="DpForm.tupleFS.$error.required">Please enter tuple field separator value.</span> 
                                </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="fieldLabel">No. of Fields for Profiling</label></td>
                        <td>
                            <input type="text" class="num-input width50" ng-model="fieldCount" jumbune-only-digits/>
                                <a ng-click="generateFields()" href="javascript:void(0)" data-grid="#/data-profiling">
                                    <i class="fa fa-check circle-icon green-icon"></i>
                                </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <span style="margin-left: 200px;line-height: 40px;"><b>Note :</b> Keep number of fields as zero for statistical assessment of the data.</span>
                <table class="table table-striped dtl-tbl" ng-show="true">
                    <thead>
                    <tr ng-if="fieldArray.length > 0">
                        <th>Field Number</th>
                        <th>Check Type</th>
                        <th>Comparison Value</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="arr in fieldArray track by $index">
                        <td><input class="width80" type="text" ng-model="arr.fieldNumber" jumbune-only-digits></td>
                         <td>
                            <select ng-model="arr.dataProfilingOperand" ng-options="o.value as o.label for o in dataProfilingOperandArr">
                                <option value="">Please Select</option>
                            </select>
                        </td> 
                        <td>
                            <input class="width230" type="text" ng-model="arr.comparisonValue" jumbune-only-digits>
                        </td>
                    </tr>
                    </tbody>
                </table>
                 <div class="textCenter"><!-- <div class="textCenter topGreyBorder"> -->
                    <button type="button" class="btn btn-default btnLink" ng-click="cancel()">Cancel</button>
                    <button type="button" class="btn btn-default" ng-click="back()">Back</button>
                    <button type="submit" ng-disabled="DpForm.$invalid" id="formDisableOneClick" ng-click="save()" class="btn btn-primary">Submit</button>
                </div> 
            </form>
        </div>
         <div class="clear"></div>
    </div>
</div>