	<div class="container" ng-init="init()">
		<header id="header" class="clearfix">
			<div class="clearfix">
				<strong class="logo"><a href="#/index"><img src="assets/images/logo.png" alt="image"></a></strong>
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
					</button>
				</div>
				<nav class="main-nav collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<!-- <ul class="menu">
						<li class="active">
							<a href="#" class="home-sub-toggle">HOME</a>
						</li></ul> -->
				</nav><!-- main-nav -->
			</div>
		</header><!-- header -->
		<div class="inner-container">
			<h2>Data Suite Configuration</h2>
				<div data-equal-height=".eq-height">
					<div class="col-md-3 tab-head pane"> <!-- required for floating -->
			          <!-- Nav tabs -->
			          <ul class="nav nav-tabs tabs-left sideways">
			            <li ng-show="selectedHomeTab" class="active">
							<a data-target="#DataQuality" data-toggle="tab">Data Quality</a>
						</li>
			            <li  ng-show="selectedHomeTab">
							<a data-target="#DataProfiling" data-toggle="tab">Data Profiling</a>
						</li>
			          </ul>
			        </div>

			        <div class="col-md-9 tab-container main-container">
			          <!-- Tab panes -->
			          <div class="tab-content">

						
			            <div class="tab-pane" id="DataQuality">
			            	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			            	<div class="txt-rgt" style="margin-bottom:12px;">
			            		<a  href="#/add-data-quality">Add Data Quality <i class="fa fa-plus circle-icon green-icon"></i></a>
			            	</div>
			            	<div class="row">
				            	<div class="col-md-12">
					            	<div style="border:1px solid #ddd">
					            		<div class="col-md-4 col-layout config-list">
				            				<div class="row">
				            					<div class="hdr txt-rgt">
				            						<a data-grid="#"><i class="fa fa-pencil circle-icon yel-icon"></i></a>
				            						<a data-grid="#"><i class="fa fa-minus circle-icon red-icon"></i></a>
				            					</div>
					            				<div class="main-body">
					            					<ul class="list">
                                                        <li ng-repeat="dataQuality in dataQualityGroup" ng-click="">{{dataQuality}}</li>
					            					</ul>
					            				</div>
				            				</div>
				            			</div>
				            			<div class="col-md-8 col-layout">
				            				<div class="row">
					            				<div class="hdr">Data Quality Summery</div>
					            				<div class="main-body">
					            					<table class="frm-tbl summery-tbl">
					            						<tr>
					            							<td>Time</td>
					            							<td>10:50 PM</td>
					            						</tr>
					            						<tr>
					            							<td>Repeat</td>
					            							<td>Daily92</td>
					            						</tr>
					            						<tr>
					            							<td>HDFS Input Path</td>
					            							<td>/Jumbune/Demo/...</td>
					            						</tr>
					            						<tr>
					            							<td>Tuple Record Separator</td>
					            							<td>8080</td>
					            						</tr>
					            						<tr>
					            							<td>Tuple Field Separator</td>
					            							<td>8080</td>
					            						</tr>
					            					</table>
					            				</div>
					            			</div>
				            			</div>
				            			<div class="clear"></div>
				            		</div>
				            		<div class="txt-rgt">
										<button type="button" class="btn btn-default">cancel</button>
										<button type="button" class="btn btn-primary">Submit</button>
									</div>
			            		</div>
			            	</div>

			            </div>
			            <div class="tab-pane" id="DataProfiling">Data Profiling
			            	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			            	<div class="txt-rgt" style="margin-bottom:12px;">
			            		<a href="#/data-profiling">Add Data Profiler <i class="fa fa-plus circle-icon green-icon"></i></a>
			            	</div>
			            	<div class="row">
				            	<div class="col-md-12">
					            	<div style="border:1px solid #ddd">
					            		<div class="col-md-4 col-layout config-list">
				            				<div class="row">
				            					<div class="hdr txt-rgt">
				            						<a data-target="#"><i class="fa fa-pencil circle-icon yel-icon"></i></a>
				            						<a data-target="#"><i class="fa fa-minus circle-icon red-icon"></i></a>
				            					</div>
					            				<div class="main-body">
					            					<ul class="list">
					            						<li class="active"><a href="#">Data Profiler 1</a></li>
					            						<li><a href="#">Data Profiler 2</a></li>
					            						<li><a href="#">Data Profiler 3</a></li>
					            						<li><a href="#">Data Profiler 4</a></li>
					            						<li><a href="#">Data Profiler 5</a></li>
					            						<li><a href="#">Data Profiler 6</a></li>
					            						<li><a href="#">Data Profiler 7</a></li>

					            					</ul>
					            				</div>
				            				</div>
				            			</div>
				            			<div class="col-md-8 col-layout">
				            				<div class="row">
					            				<div class="hdr">Data Profiler Summery</div>
					            				<div class="main-body">
					            					<table class="frm-tbl summery-tbl">
					            						<tr>
					            							<td>HDFS Input Path</td>
					            							<td>MR-CAL-1256</td>
					            						</tr>
					            						<tr>
					            							<td>Tuple Record Separator</td>
					            							<td>192.192.192.192</td>
					            						</tr>
					            						<tr>
					            							<td>Tuple Field Separator</td>
					            							<td>/Jumbune/Demo/...</td>
					            						</tr>
					            					</table>
					            				</div>
					            			</div>
				            			</div>
				            			<div class="clear"></div>
				            		</div>
				            		<div class="txt-rgt">
										<!-- <button type="button" class="btn btn-default">cancel</button> -->
										<button type="button" class="btn btn-primary">Submit</button>
									</div>
			            		</div>
			            	</div>
			            </div>
			          </div>
			        </div>
			        <div class="clear"></div>
				</div>
		</div>
	</div>
	